@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1, h3, h4, h5, p, a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    text-align: center;
}

body {
    padding-top: 10px;
    width: 900px;
    height: auto;
    margin: 0 auto;
}

canvas {
    height: 50vh;
    border: 1px solid black;
}