@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1, h3, h4, p, a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    text-align: center;
}

body {
    padding-top: 10px;
    width: 900px;
    height: 800px;
    margin: 0 auto;
}

canvas {
    border: solid .2em black;
    height: 90vh;
}