@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1, h3, h4, h5, p, a, div {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    text-align: center;
    color: #F8F8FF;
    text-shadow: 5px 3px 0 #000;
}

footer {
    background: #2c1960;
    border: 4px solid black;
    border-radius: 2px;
}

p {
    font-size: 9px;
    color: #F8F8FF;
    text-shadow: none;
}

body {
    padding-top: 10px;
    width: 900px;
    height: auto;
    margin: 0 auto;
}

canvas {
    height: 70vh;
    border: 8px solid black;
    border-radius: 2px;
    font-family: 'Press Start 2P', cursive;
}

html {
    background-image: url('https://i1.creativecow.net/u/311822/skyline.png');
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: cover;
    -moz-background-size: 100% 100%;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
}

.updownleftright-image {
    height: 80px;
    width: auto;
}

.spacebar-image {
    width: 150px;
}

.z-image {
    width: 45px;
}

.directions {
    width: 180px;
}

.controls, .right {
    align-self: center;
}
